@import "colors";

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    &__base{
        height: 100%;
    }
    &__navigation{
        margin-top: 35px;
        z-index: 1000;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.55);
        border-radius: 10px;
        &-link{
            font-family: 'Gotham Pro Bold';
            // color: $main-color;
            color: darken($color: $main-color, $amount: 10);
            cursor: pointer;
            font-size: 38px;
            font-weight: 900;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__logo{
        z-index: 1000;
        width: 25%;
        height: 45px;
        font-size: 25px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

@media (max-width: 1250px){
    .navbar{
        &__navigation{
            &-link{
                font-size: 33px;
            }
        }
    }
}



@media (max-width: 992px){
    .navbar{
        &__navigation{
            display: none;
        }
    }
}