@import "colors";

.slider{
    &__section{
        height: 100vh;
        margin-top: -95px;
    }
    &__base{
        height: 100%;
    }
    &__item{
        height: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &-text{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 7px;
            margin-top: -7%;
            color: darken($color: $main-color, $amount: 10);
            font-family: 'Gotham Pro Black';
            text-transform: uppercase;
            font-size: 65px;
            font-weight: 550;
            span{
                width: 75%;
                height: 85px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                height: 54px;
                background-color:rgba(0, 0, 0, 0.55);
                border-radius: 10px;
            }
            &-block{
                margin-top: -1px;
            }
        }
    }
}

@media (max-width: 1500px){
    .slider{
       &__item{
           &-text{
               margin-top: -10%;
           }
       }
    }
}

@media (max-width: 1340px){
    .slick{
        &-dots{
            top: 390px;
        }
    }
    .slider{
        &__item{
            &-text{
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 1250px){
    .slick{
        &-dots{
            top: 310px;
        }
    }
}

@media (max-width: 1050px){
    .slider{
        &__item{
            &-text{
                margin-top: -12%;
            }
        }
    }
}

@media (max-width: 992px){
    .slick{
        &-dots{
            top: 465px;
        }
    }
    .slider{
        &__section{
            height: 50vh;
        }
        &__item{
            height: 50vh;
            img{
                object-position: 0 30px;
            }
            &-text{
                margin-top: -12%;
                text-align: center;
                font-size: 38px;
            }
        }
    }
}

@media (max-width: 800px){
    .slider{
        &__item{
            &-text{
                margin-top: -14%;
            }
        }
    }
}

@media (max-width: 700px){
    .slider{
        &__item{
            &-text{
                margin-top: -16%;
            }
        }
    }
}

@media (max-width: 670px){
    .slider{
        &__item{
            img{
                object-position: 0 0px;
            }
            &-text{
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 590px){
    .slider{
        &__item{
            &-text{
                margin-top: -20%;
            }
        }
    }
}

@media (max-width: 500px){
    .slider{
        &__item{
            &-text{
                margin-top: -22%;
            }
        }
    }
}

@media (max-width: 480px){
    .slider__item-pic{
        &__three{
        object-position: 0px 10px !important;
        }
        &__four{
        object-position: 0px 10px !important;
        }
    }
}

@media (max-width: 450px){
    .slider{
        &__item{
            &-text{
                margin-top: -24%;
            }
        }
    }
}

@media (max-width: 410px){
    .slider{
        &__item{
            &-text{
                font-size: 24px;
                span{
                    width: 100%;
                    height: 60px !important;
                }
            }
        }
    }
}

@media (max-width: 375px){
    .slider{
        &__item{
            &-text{
                margin-top: -24%;
            }
        }
    }
}

@media (max-width: 350px){
    .slider__item-pic__four{
        object-position: -215px 10px !important;
        // display: none;
    }
}